# --- Machine Learning Models & Data ---
models/*
# Cho phép add 2 file model cụ thể này
!models/yunet.onnx
!models/mask_detector_model.h5

dataset/
data/
*.zip
*.tar.gz
*.npz
*.npy

# Chặn các folder cache cụ thể
src/*/cache/

# --- Python & Environment ---
__pycache__/
*.py[cod]
.venv
venv/
.cache/
.ipynb_checkpoints

# --- Media & Large Docs ---
*.mp4
*.avi
# Nếu Slide và Report quá nặng cũng nên cân nhắc bỏ
# docs/

# --- Flask & Web Demo ---
uploads/*
static/results/*
static/test/*
!uploads/.gitkeep
!static/results/.gitkeep

# --- OS & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/